<!doctype html>
<html lang="en" class="export">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Infinite Scroll &#xB7; Masonry images</title>

    <link rel="stylesheet" href="css/infinite-scroll-docs.css?3" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


</head>

<body>
<div class="jumbotron jumbotron-fluid" style="margin-bottom:0px">
    <div class="container">
        <h1 class="display-3">Shopping Mall Main Banner</h1>
        <p class="lead">Some Senetences here.</p>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Shopping Mall Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shirts">Shirts</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled" href="/pants">Pants</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled" href="/shoes">Shoes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link disabled" href="/accessory">Accessory</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>